<footer class="page_footer">
    <link href="../styles/footer.css" type="text/css" rel="stylesheet"/>
    
    <div class="separator_line_div">
        <div class="separator_line"></div>
    </div>

    <div class="watch_div">
        <div class="header"><h2>Watch</h2></div>

        <div class="watch_content_div">
            <a href="movies" class="link_hidden_footer">Movies</a>
            <a href="tv_shows" class="link_hidden_footer">TV Shows</a>
            <a href="cartoons" class="link_hidden_footer">Cartoons</a>
        </div>
    </div>

    <div class="app_div">
        <div class="header"><h2>Mobile App</h2></div>

        <div class="app_content_div">
            <a href="app_download" class="link_hidden_footer">More Details</a>
        </div>
    </div>

    <div class="help_center_div">
        <div class="header"><h2>Help Center</h2></div>

        <div class="help_center_content_div">
            <a href="#" class="link_hidden_footer">FAQ</a>
            <a href="#" class="link_hidden_footer">Contact Us</a>
        </div>
    </div>

    <div class="follow_us_div">
        <div class="header"><h2>Follow Us</h2></div>

        <div class="follow_us_content_div">
            <img class="img_social" src="../styles/images/facebook.png" alt="Facebook">
            <img class="img_social" src="../styles/images/linkedin.png" alt="LinkedIn">
            <img class="img_social" src="../styles/images/telegram.png" alt="Telegram">
            <img class="img_social" src="../styles/images/twitter.png" alt="Twitter">
        </div>
    </div>

</footer>