<header class="admin_page_header">
    <link href="../styles/header_moder_page.css" type="text/css" rel="stylesheet"/>
  
    <nav class="navbar">
      <div class="logo">
        <a class="logo_img noselect" href="moder_page.php"></a>
        <a class="link_hidden_header noselect" href="moder_page.php">FilmTime</a>
      </div>
  
      <ul class="links">
        <li><a class="link1 link_hidden_header noselect" href="moder_page.php">Home</a></li>
        <li><a class="link2 link_hidden_header noselect" href="moder_manage_page">Manage media content</a></li>
      </ul>
  
      <div class="log_out">
        <div class=""><a class="link_hidden_header noselect log_out_link" href="login.php">Log out</a></div>
      </div>
    </nav>

  </header>