<header class="page_header">
    <link href="../styles/header.css" type="text/css" rel="stylesheet"/>
  
    <nav class="navbar">
      <div class="logo">
        <a class="logo_img noselect" href="/"></a>
        <a class="link_hidden noselect" href="/">FilmTime</a>
      </div>
  
      <ul class="links">
        <li><a class="link1 link_hidden noselect" href="homepage">Home</a></li>
        <li><a class="link2 link_hidden noselect" href="movies_list">Movies</a></li>
        <li><a class="link3 link_hidden noselect" href="tv_shows_list">TV shows</a></li>
        <li><a class="link4 link_hidden noselect" href="cartoons_list">Cartoons</a></li>  
      </ul>
  
      <div class="profile">
        <div class=""><a class="link_hidden noselect signup_link" href="sign_up">Sign up</a></div>
        <div class=""><a class="link_hidden noselect login_link" href="login">Login</a></div>
      </div>
    </nav>

  </header>