<header class="admin_page_header">
    <link href="../styles/header_admin_page.css" type="text/css" rel="stylesheet"/>
  
    <nav class="navbar">
      <div class="logo">
        <a class="logo_img noselect" href="admin_page.php"></a>
        <a class="link_hidden_header noselect" href="admin_page.php">FilmTime</a>
      </div>
  
      <ul class="links">
        <li><a class="link1 link_hidden_header noselect" href="admin_page.php">Home</a></li>
        <li><a class="link2 link_hidden_header noselect" href="moder_manage_page">Moderators</a></li>
        <li><a class="link3 link_hidden_header noselect" href="user_manage_page">Users</a></li>
        <li><a class="link4 link_hidden_header noselect" href="comment_manage_page">Comments</a></li>  
      </ul>
  
      <div class="log_out">
        <div class=""><a class="link_hidden_header noselect log_out_link" href="login.php">Log out</a></div>
      </div>
    </nav>

  </header>