<header class="page_header">
    <link href="../styles/header.css" type="text/css" rel="stylesheet"/>
  
    <nav class="navbar">
      <div class="logo">
        <a class="logo_img noselect" href="/"></a>
        <a class="link_hidden_header noselect" href="/">FilmTime</a>
      </div>
  
      <ul class="links">
        <li><a class="link1 link_hidden_header noselect" href="homepage">Home</a></li>
        <li><a class="link2 link_hidden_header noselect" href="movies_list">Movies</a></li>
        <li><a class="link3 link_hidden_header noselect" href="tv_shows_list">TV shows</a></li>
        <li><a class="link4 link_hidden_header noselect" href="cartoons_list">Cartoons</a></li>  
      </ul>
  
      <div class="profile">
        <a class="search_img noselect" href="search_image"></a>
        <div class="notification_icon" onclick="toggleNotifications()">
            <img src="../styles/images/notification.png" alt="Notifications">
        </div>
        <div class="notifications" id="notifications">
            <p>There are no new notifications.</p>
        </div>
        <a class="user_profile_img noselect" href="user_profile"></a>
      </div>
    </nav>

  </header>