@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #171717;
    color: #f5f5f5;
}

.container {
    margin: 50px 108px;
    background-color: #1E2A38;
    border-radius: 16px;
}

.movie-header {
    display: flex;
    gap: 50px;
    background-color: #182029;
    padding: 35px 60px;
    border-radius: 16px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-poster {
    width: 240px;
    height: 325px;
    border-radius: 12px;
}

.play_trailer_button {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    background-color: #182029;
    border: solid 3px #f5f5f5;
    border-radius: 16px;
    white-space: nowrap;
    height: 56px;
    width: 250px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.play_trailer_button:hover, .play_trailer_button:active{
    background-color: #2A3745;
    color: #f5f5f5;
    border-color: #2A3745;
}

.img_play_button {
    width: 35px;
    height: 35px;
}

.movie-details {
    flex-grow: 1;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.movie-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.save-button {
    background-color: #182029;
    border: solid 3px #f5f5f5;
    border-radius: 16px;
    cursor: pointer;
    padding: 15px;
}

.save-button:hover, .save-button:active {
    background-color: #2A3745;
    color: #f5f5f5;
    border-color: #2A3745;
}

.img_save_button {
    width: 25px;
    height: 25px;
}

.tags, .creators, .cast, .year, .duration {
    margin: 10px 0;
}

.tag, .creator, .actor {
    display: inline-block;
    cursor: pointer;
}

.tag {
    background-color: #182029;
    border: solid 3px #f5f5f5;
    border-radius: 8px;
    padding: 6px 16px;
    margin: 5px;
}

.tag:hover, .tag:active {
    background-color: #2A3745;
    color: #f5f5f5;
    border-color: #2A3745;
}

.creator, .actor {
    color: #4278C5;
    padding: 10px 0 0 4px;
}

.creator:hover, .actor:hover {
    text-decoration: underline;
}

.description {
    margin-top: 20px;
}

.form_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.form_overlay.hidden {
    display: none;
}

.form_container {
    background-color: #182029;
    padding: 24px 45px 24px 30px;
    border-radius: 16px;
    min-width: 500px;
    max-height: 90vh;
    max-width: 1080px;
    overflow-y: auto;
    width: auto;
}

.saved_media, .saved_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.list_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}

.list_img {
    width: 200px;
    height: 200px;
}

.media_item {
    position: relative;
    display: block;
    width: 228px;
    height: 339px;
    background-color: #1E2A38;
    border-radius: 16px;
    overflow: hidden;
    min-width: 228px;
    min-height: 339px;
}

.media {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    padding: 8px;
}

.media_title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 23, 23, 0.8);
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s;
}

.media_item:hover .media_title {
    opacity: 1;
}

.form_header {
    display: flex;
    justify-content: space-between;
}

.empty_saved_form {
    text-align: center;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 429px;
}

.saved_close_img {
    height: 20px;
    width: 20px;
}

#closeSavedForm, #closeListForm {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.form_footer {
    display: flex;
    justify-content: space-between;
}

.create_list_button, #cancelCreateList, #deleteList {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    background-color: #182029;
    border: solid 3px #f5f5f5;
    border-radius: 16px;
    white-space: nowrap;
    height: 56px;
    width: 213px;
}

.create_list_button:hover, .create_list_button:active, #cancelCreateList:hover, 
#cancelCreateList:active, #deleteList:hover, #deleteList:active {
    background-color: #2A3745;
    color: #f5f5f5;
    border-color: #2A3745;
}

.create_list_img, .delete_list_img {
    width: 18px;
    height: 18px;
}

#createListForm .form_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#createListForm .form_container {
    height: 220px;
}

#createListSubmit {
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    border: solid 3px #AAB1BB;
    background-color: #AAB1BB;
    border-radius: 16px;
    white-space: nowrap;
    height: 56px;
    width: 213px;
}

#createListSubmit:hover, #createListSubmit:active {
    background-color: #8F959D;
    color: #464646;
    border-color: #8F959D;
}

.form_container .field_wrapper {
    position: relative;
    margin-top: 14px;
}

.input_field {
    width: 490px;
    height: 56px;
    padding: 8px 16px 8px;
    margin-bottom: 14px;
    border: 1px solid #79747E;
    border-radius: 4px;
    background-color: #182029;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 400;
    outline: none;
}

.form_container .label_text {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #182029;
    padding: 0 5px;
    color: #f5f5f5;
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
}

.main-content{
    padding: 24px 115px;
}

.video-controls {
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.field_wrapper {
    position: relative;
}

.dropdown {
    margin-right: 10px;
    width: auto;
    height: auto;
    padding: 12px 8px;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: #1E2A38;
    color: #f5f5f5;
    font-size: 24px;
    font-weight: 400;
    outline: none;
}

.label_text {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #1E2A38;
    padding: 0 5px;
    color: #f5f5f5;
    font-size: 16px;
    transition: 0.3s;
    pointer-events: none;
}

.comment-section {
    margin: 24px 0;
}

.comment-input-container {
    background-color: #1E2A38;
    border: solid 3px #f5f5f5;
    border-radius: 12px;
    white-space: nowrap;
    padding: 10px 16px;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-input {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    width: 96%; /*оновлено*/
    background-color: #1E2A38;
    border: none;
    outline: none; /*додано*/
}

.comment-input::placeholder {
    color: #f5f5f5;
}

.comment-input-container button {
    background-color: #1E2A38;
    border: none;
    cursor: pointer;
}

.img_send_button {
    width: 24px;
    height: 24px;
}

.comment {
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: #1E2A38;
    border: solid 3px #f5f5f5;
    border-radius: 12px;
    white-space: nowrap;
    padding: 10px 16px;
    height: auto;
    width: auto;
    display: flex;
    margin: 24px 24px 0 24px;
    gap: 20px;
}

.img_account {
    width: 40px;
    height: 40px;
}

.comment-content strong {
    margin-bottom: 5px;
}

.comment-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

/* _________________________________________________________ */

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
}

.movie-rating {
    margin-top: 30px;
    text-align: center;
}

.stars {
    display: inline-flex;
    cursor: pointer;
}

.star {
    font-size: 4rem;
    color: gray;
    transition: color 0.3s;
}

.star.filled {
    color: rgb(255, 231, 96);
}

.line {
    margin: 20px auto; 
    width: 90%;        
    height: 2px;       
    background-color:rgba(26, 36, 48, 1); 
}